# UnitsExtensionArray

In [1]:
import pandas as pd
import pandas_implants as pi

In [2]:
peaks = pd.read_csv("peaks.csv")
peaks

                name  height
0       Mount Elbert   14440
1      Mount Massive   14428
2      Mount Harvard   14421
3        Blanca Peak   14351
4      La Plata Peak   14343
5   Uncompahgre Peak   14321
6      Crestone Peak   14300
7      Mount Lincoln   14293
8        Castle Peak   14279
9         Grays Peak   14278
10      Mount Antero   14276
11       Mount Evans   14271
12        Longs Peak   14259
13      Mount Wilson   14252
14   Mount Princeton   14204
15        Mount Yale   14200
16       Maroon Peak   14163
17    Mount Sneffels   14158
18      Capitol Peak   14137
19        Pikes Peak   14115

In [3]:
# Specify the column type
peaks["height"] = peaks["height"].astype("unit[ft]")
peaks

                name     height
0       Mount Elbert 14440.0 ft
1      Mount Massive 14428.0 ft
2      Mount Harvard 14421.0 ft
3        Blanca Peak 14351.0 ft
4      La Plata Peak 14343.0 ft
5   Uncompahgre Peak 14321.0 ft
6      Crestone Peak 14300.0 ft
7      Mount Lincoln 14293.0 ft
8        Castle Peak 14279.0 ft
9         Grays Peak 14278.0 ft
10      Mount Antero 14276.0 ft
11       Mount Evans 14271.0 ft
12        Longs Peak 14259.0 ft
13      Mount Wilson 14252.0 ft
14   Mount Princeton 14204.0 ft
15        Mount Yale 14200.0 ft
16       Maroon Peak 14163.0 ft
17    Mount Sneffels 14158.0 ft
18      Capitol Peak 14137.0 ft
19        Pikes Peak 14115.0 ft

In [4]:
# I don't understand that
peaks["height"].units.to_si()

0             4401.312 m
1            4397.6544 m
2            4395.5208 m
3            4374.1848 m
4            4371.7464 m
5    4365.040800000001 m
6              4358.64 m
7            4356.5064 m
8            4352.2392 m
9            4351.9344 m
10           4351.3248 m
11           4349.8008 m
12           4346.1432 m
13           4344.0096 m
14           4329.3792 m
15             4328.16 m
16           4316.8824 m
17           4315.3584 m
18   4308.957600000001 m
19            4302.252 m
dtype: unit[m]

In [5]:
peaks.units.to_si()

                name              height
0       Mount Elbert          4401.312 m
1      Mount Massive         4397.6544 m
2      Mount Harvard         4395.5208 m
3        Blanca Peak         4374.1848 m
4      La Plata Peak         4371.7464 m
5   Uncompahgre Peak 4365.040800000001 m
6      Crestone Peak           4358.64 m
7      Mount Lincoln         4356.5064 m
8        Castle Peak         4352.2392 m
9         Grays Peak         4351.9344 m
10      Mount Antero         4351.3248 m
11       Mount Evans         4349.8008 m
12        Longs Peak         4346.1432 m
13      Mount Wilson         4344.0096 m
14   Mount Princeton         4329.3792 m
15        Mount Yale           4328.16 m
16       Maroon Peak         4316.8824 m
17    Mount Sneffels         4315.3584 m
18      Capitol Peak 4308.957600000001 m
19        Pikes Peak          4302.252 m

In [6]:
dent_blanche = 4357 * pi.Unit("m")
peaks["tall"] = peaks.height > dent_blanche
peaks

TypeError: data type not understood

In [ ]:
temps = pd.DataFrame([
    ["Prague", 23],
    ["Ostrava", 27],
    ["Nairobi", 31],
    ["Cairo", 47],
    ["Johannesburg", 13]
], columns=["city", "temp"])
temps

In [ ]:
temps["temp"] = temps["temp"].astype("unit[deg_C]")
temps

In [ ]:
temps.dtypes

In [ ]:
temps["temp_f"] = temps["temp"].units.to("deg_F")
temps["temp_K"] = temps["temp"].units.to("K")
temps